.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -99;

  overflow: hidden;
}

.background-image > picture > img {
  width: 100%;
  height: 881px;
  max-width: 1024px;
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .background-image > picture > img {
    height: 948px;
    max-width: 100%;
  }
}
/* End Desktop */
