.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -99;

  overflow: hidden;
}

.background-image > picture > img {
  width: 100%;
  min-height: 790px;
  max-width: 1024px;
  height: 1px;
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .background-image > picture > img {
    min-height: 790px;
    min-width: 100%;
    height: 1px;
  }
}
/* End Desktop */
