.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 35px;
  border: 0px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  padding: 17px 35px;
}

.btn-secondary {
  display: flex;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  width: 100%;
  max-width: 236px;
  padding: 16px 0;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 54px;
  border-radius: 39px;
  border: 1px solid var(--border-input);
  background: var(--bg-input);
}
