.section--light {
  color: var(--primary-text-color);
  font-family: var(--ff-primary);
  font-style: normal;
  text-align: center;
}

.section--dark {
  color: var(--secondary-text-color);
  font-family: var(--ff-primary);
  font-style: normal;
  text-align: center;
}

.display--flex {
  display: flex;
  flex-direction: column;
}

.gap--7 {
  gap: 7px;
}

@media screen and (max-width: 767px) {
  .header__nav-form,
  .hero-title > h1,
  .newsletter-layout > div > h2:nth-child(3),
  .partner-card > li:nth-child(4),
  li:nth-child(5),
  li:nth-child(6)
  /* .pricing__card-title > h3:nth-child(1)  */ {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hamburger-menu,
  .hero-title > h2,
  .newsletter-layout > div > h2:nth-child(2) {
    display: none;
  }
}
