.partner-layout {
  width: 100%;
  padding: 90px 40px 50px;
  align-items: center;
  gap: 80px;
}

.partner-title {
  align-items: center;
}

.partner-layout > button {
  padding: 16px 16px;
  min-width: 236px;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .partner-layout {
    gap: 72px;
  }

  .partner-card {
    display: grid;
    grid-template-columns: 238px 238px;
    justify-content: center;
    gap: 70px 80px;
    padding: 0;
    width: 238px;
  }

  .partner-title {
    align-items: center;
    width: 318px;
  }
}
/* End Tablet */

/* Desktop */
@media (min-width: 1025px) {
  .partner-layout {
    padding: 120px 0 80px;
  }

  .partner-card {
    display: grid;
    grid-template-columns: 238px 238px 238px;
    justify-content: center;
    gap: 70px 52px;
    padding: 0;
    width: 238px;
  }

  .partner-title {
    align-items: center;
    width: 318px;
  }
}
/* End Desktop */
