.testimonial-layout {
  width: 100%;
  padding: 110px 28px 100px;
  align-items: center;
  gap: 80px;
}

.testimonial-layout > button {
  padding: 16px 47px;
  font-family: var(--ff-primary);
  max-width: 280px;
}

.testimonial-card {
  align-items: center;
  gap: 45px;
  padding: 15px 0;
}

.testimonial-card > p {
  font-size: 13.5px;
  line-height: 17px;
}

.testimonial-card > img {
  width: 229px;
  height: 46px;
  cursor: default;
}

.testimonial-card > p {
  padding: 8.5px;
}

.testimonial__card-items {
  display: flex;
  gap: 11px;
  height: 43px;
}

.testimonial__card-items > picture > img {
  width: 43px;
  height: 43px;
}

.items-span {
  text-align: left;
}

.items-span > span:nth-child(1) {
  padding: 1.7px 0px;
}

/* Desktop */
@media (min-width: 1025px) {
  .testimonial-layout {
    padding: 100px 0px;
  }

  .testimonial-card {
    align-items: center;
    gap: 50px;
    width: 703px;
    padding: 0;
  }

  .testimonial-card > p {
    padding: 10px;
    font-size: var(--fs-x-medium);
    line-height: var(--lh-x-medium);
  }

  .testimonial__card-items {
    display: flex;
    gap: 11px;
    height: 50px;
  }
  .testimonial__card-items > picture > img {
    width: 50px;
    height: 50px;
  }
}
/* End Desktop */
