html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
ol,
ul,
li,
form,
label,
article,
footer,
header,
nav,
section,
picture,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a,
button,
input,
select,
option,
textarea {
  cursor: pointer;
}

article,
footer,
header,
nav,
section {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--secondary-text-color);
  display: inline-block;
}

input:focus,
textarea:focus {
  outline: none;
}
