.feature-layout {
  width: 100%;
  padding: 80px 0px;
  align-items: center;
  gap: 50px;
  align-self: stretch;
}

/* Desktop */
@media (min-width: 1025px) {
  .feature-layout {
    width: 100%;
    gap: 80px;
  }
}
