.header-layout {
  width: 100%;
  min-height: 112px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Tablet & Desktop */
@media (min-width: 768px) {
  .header-layout {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    min-height: 156px;
  }
}
