.header-layout {
  width: 100%;
  padding: 17px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Tablet & Desktop */
@media (min-width: 768px) {
  .header-layout {
    display: flex;
    justify-content: space-between;
    padding: 38px 40px 40px 20px;
  }
}
