.pricing-layout {
  width: 100%;
  padding: 110px 28px 100px;
  gap: 80px;
}

.pricing__card {
  align-items: center;
  gap: 50px;
  padding: 18px 0;
}
.pricing__card > li:nth-child(2) {
  color: var(--secondary-text-color);
  background: linear-gradient(40deg, #ef2779 0.79%, #7834be 79.29%);
}

.pricing__card > li:nth-child(2) > button {
  background-color: var(--secondary-text-color);
  color: var(--primary-color);
}

.pricing__card > li:nth-child(2) > button:hover {
  color: var(--secondary-text-color);
}

/* Desktop */
@media (min-width: 1025px) {
  .pricing__card > li:nth-child(2) {
    color: var(--primary-text-color);
    background: var(--secondary-text-color);
  }

  .pricing__card > li:nth-child(2) > button {
    color: var(--secondary-text-color);
    background-color: var(--secondary-color);
  }

  .pricing__card > li:nth-child(3) {
    color: var(--secondary-text-color);
    background: linear-gradient(40deg, #ef2779 0.79%, #7834be 79.29%);
  }

  .pricing__card > li:nth-child(3) > button {
    color: var(--primary-color);
    background: var(--secondary-text-color);
  }

  .pricing__card > li:nth-child(3) > button:hover {
    color: var(--secondary-text-color);
  }

  .pricing-layout {
    padding: 100px 0;
    align-items: center;
  }

  .pricing-layout > div {
    width: 318px;
  }

  .pricing__card {
    justify-content: center;
    width: 100%;
    flex-direction: row;
    padding: 0;
  }
}
/* End Desktop */
