.contact-layout {
  width: 100%;
  height: 1512px;
  padding: 149px 0px;
  align-items: center;
  gap: 50px;
  background: #252b42;
}

.social-network-items {
  display: flex;
  gap: 24px;
  padding: 10px 10px;
}

.social-network-items > a > img {
  width: 41px;
  height: 41px;
}

.contact-address {
  gap: 10px;
  padding: 18px 0;
  width: 264px;
}

.contact-address > div {
  display: flex;
  gap: 10px;
}

.contact-address > div > a {
  color: var(--secondary-text-color);
  text-align: left;
}

.contact-form {
  padding: 130px 49px 52px;
  gap: 45px;
  background: var(--secondary-text-color);
  width: 378px;
  height: 670px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: var(--secondary-text-color);
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.contact-form > input {
  width: 280px;
  height: 54px;
  padding: 19px 20px;
}

.contact-form > textarea {
  width: 280px;
  height: 193px;
  resize: none;
  padding: 23px 20px;
  background: var(--bg-input);
  border: 0;
}

.contact-form > input::placeholder,
textarea::placeholder {
  font-family: var(--ff-primary);
  color: #18171d;
  font-size: var(--fs-small);
  font-weight: var(--fw-small);
  line-height: var(--lh-x-small);
  letter-spacing: 0.1px;
}

.contact-form > button {
  width: 145px;
  padding: 18px 38px;
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .contact-layout {
    height: 794px;
    padding: 85px 0px;
    gap: 50px 65px;
    background: #252b42;
    display: grid;
    grid-template-rows: auto 152px auto;
    grid-template-areas:
      "contact-title contact-title"
      "contact-form address"
      "contact-form social";
  }
  .contact-layout > div:nth-child(1) {
    grid-area: contact-title;
    width: 318px;
    justify-self: center;
  }

  .contact-layout > div:nth-child(2) {
    grid-area: social;
    align-self: start;
  }

  .contact-layout > address:nth-child(3) {
    grid-area: address;
    align-self: start;
    padding: 0;
  }

  .contact-layout > form:nth-child(4) {
    grid-area: contact-form;
    align-items: start;
    padding: 79px 41px 26px;
    justify-self: end;
  }

  .contact-form {
    width: 401px;
    height: 430px;
    padding: 19px 20px;
    gap: 31px;
  }

  .contact-form > input {
    width: 319px;
    height: 36px;
    padding: 19px 13px;
  }

  .contact-form > textarea {
    width: 319px;
    height: 127px;
    padding: 15px 13px;
  }

  .contact-form > input::placeholder,
  textarea::placeholder {
    font-size: 10px;
    line-height: 10px;
  }

  .contact-form > button {
    width: 95px;
    padding: 18px 38px;
    font-size: 10px;
    line-height: 10px;
  }
}
/* End Desktop */

/* Desktop */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact-layout {
    height: 794px;
    padding: 85px 0px;
    gap: 50px 50px;
    background: #252b42;
    display: grid;
    grid-template-rows: auto 152px auto;
    grid-template-areas:
      "contact-title contact-title"
      "contact-form address"
      "contact-form social";
  }
  .contact-layout > div:nth-child(1) {
    grid-area: contact-title;
    width: 318px;
    justify-self: center;
  }

  .contact-layout > div:nth-child(2) {
    grid-area: social;
    align-self: start;
  }

  .contact-layout > address:nth-child(3) {
    grid-area: address;
    align-self: start;
    padding: 0;
  }

  .contact-layout > form:nth-child(4) {
    grid-area: contact-form;
    align-items: start;
    padding: 79px 41px 26px;
    justify-self: end;
  }

  .contact-form {
    width: 401px;
    height: 430px;
    padding: 19px 20px;
    gap: 31px;
  }

  .contact-form > input {
    width: 319px;
    height: 36px;
    padding: 19px 13px;
  }

  .contact-form > textarea {
    width: 319px;
    height: 127px;
    padding: 15px 13px;
  }

  .contact-form > input::placeholder,
  textarea::placeholder {
    font-size: 10px;
    line-height: 10px;
  }

  .contact-form > button {
    width: 95px;
    padding: 18px 38px;
    font-size: 10px;
    line-height: 10px;
  }
}
/* End Desktop */
