.footer-layout {
  height: 1109px;
  gap: 55px;
  align-items: center;
  padding: 126px 30px;
}

.footer__link-page {
  gap: 15px;
}

.footer__link-page > h3 {
  padding: 10px 0;
}

.footer__link-page > ul > li > a {
  color: var(--prmary-text-color);
}

.link-items {
  gap: 16px;
}

.footer-address-link {
  gap: 40px;
}

.footer-address {
  gap: 10px;
  width: 264px;
}

.footer-address > div {
  display: flex;
  gap: 10px;
}

.footer-address > div > a {
  color: var(--prmary-text-color);
  text-align: left;
}

.footer__social-network {
  display: flex;
  gap: 24px;
  height: 41px;
}

.footer__social-network > a > img {
  width: 41px;
  height: 41px;
}

.footer-map {
  border-radius: 22px;
  width: 100%;
  max-width: 358px;
  aspect-ratio: 1.4;
  overflow: hidden;
}

.footer-map > iframe {
  width: 358px;
  height: 247px;
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .footer-layout {
    height: 507px;
    gap: 55px;
    flex-direction: row;
    justify-content: center;
    padding: 120px 50px;
  }

  .footer__link-page {
    width: 186px;
    align-items: start;
    gap: 16px;
  }

  .footer-map {
    max-width: 472px;
    height: 247px;
  }

  .footer-map > iframe {
    width: 472px;
    height: 247px;
  }
}
/* End Desktop */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-layout {
    height: 810px;
    gap: 55px;
    display: grid;
    grid-template-rows: 247px 267px;
    grid-template-areas:
      "map map"
      "link-page social";
    padding: 120px 50px;
    justify-content: center;
  }

  .footer__link-page {
    grid-area: link-page;
  }
  .footer-map {
    grid-area: map;
    width: 100%;
    justify-self: center;
  }
  .footer__social-network {
    grid-area: social;
  }

  .footer-map > iframe {
    height: 250px;
  }
}
/* End Tablet */
