.header-layout {
  width: 100%;
  padding: 17px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 206px;
  height: 78px;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  z-index: 1;
}

.nav-items > a:hover {
  color: var(--primary-color);
}

/* Tablet & Desktop */
@media screen and (min-width: 768px) {
  .header-layout {
    display: flex;
    justify-content: space-between;
    padding: 38px 40px 40px 20px;
  }

  .header__nav-form {
    display: flex;
    gap: 44px;
  }
  .nav-items {
    display: flex;
    gap: 21px;
    align-items: center;
  }
  .nav-items > a {
    padding: 10px;
  }

  .header-logo {
    margin: 0px 20px;
  }
}
/* End Tablet & Desktop */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__form {
    display: none;
  }
}
/* End Tablet */

/* Desktop */
@media screen and (min-width: 1025px) {
  .header__form {
    display: flex;
    gap: 12px;
  }

  .header__form > input {
    width: 273px;
    padding: 19px 39px;
  }

  .header__form > button > span {
    padding: 19px 34px;
    background: -webkit-linear-gradient(40deg, #ef2779 0.79%, #7834be 79.29%);
    -webkit-background-clip: text;
    color: transparent;
    font-family: var(--ff-primary);
  }
}
/* End Desktop */
