.hero-layout {
  width: 100%;
  height: 769px;
  padding: 80px 20px;

  align-items: center;
  gap: 59px;
  background-size: cover;
}

.hero-image {
  width: 379px;
  height: 225px;
  border: 0;
  border-radius: 8px;
  padding: 6.5px 0;
  max-width: 100%;
}

.hero-title {
  width: 316px;
}

.hero-title > h4 {
  padding: 10px 10px;
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .hero-layout {
    height: 792px;
    padding: 104px 0px;
    display: grid;
    grid-template-columns: 62.5% auto;
    grid-template-areas:
      "image title"
      "image button";
    gap: 60px;
  }

  .hero-layout > div {
    grid-area: title;
    align-self: end;
  }

  .hero-layout > picture {
    grid-area: image;
  }

  .hero-layout > button {
    grid-area: button;
    align-self: start;
  }

  .hero-layout > div > h2 {
    display: none;
  }

  .hero-image {
    width: 100%;
    height: 573px;
    padding: 27px 0px;
  }
}
/* End Desktop */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-layout > div > h2 {
    display: none;
  }

  .hero-image {
    padding: 27px 0px;
  }

  .hero-title {
    width: auto;
  }
}
/* End Tablet */
