.hero-layout {
  width: 100%;
  padding: 80px 20px;
  align-items: center;
  gap: 59px;
  background-size: cover;
}

.hero-image {
  width: 379px;
  height: 221px;
  border: 0;
  border-radius: 8px;
  max-width: 100%;
}

.hero-title {
  width: 316px;
}

.hero-title > h4 {
  padding: 10px 10px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-image {
    padding: 27px 0px;
  }

  .hero-title {
    width: auto;
  }
}
/* End Tablet */

/* Desktop */
@media screen and (min-width: 1025px) {
  .hero-layout {
    padding: 104px 0px;
    display: grid;
    grid-template-rows: 282px;
    grid-template-columns: 56% auto;
    grid-template-areas:
      "image title"
      "image button";
    gap: 60px;
  }

  .hero-layout > div {
    grid-area: title;
    align-self: end;
    gap: 17px;
  }

  .hero-layout > div > h4 {
    text-align: start;
    padding: 10px 0;
  }

  .hero-layout > picture {
    grid-area: image;
    padding-right: 26.5px;
  }

  .hero-layout > button {
    grid-area: button;
    align-self: start;
    background-color: var(--secondary-text-color);
    color: var(--secondary-color);
  }

  .hero-layout > div > h2 {
    display: none;
  }

  .hero-image {
    width: 100%;
    height: 580px;
    padding: 27px 0px;
  }

  .hero-title > h1 {
    text-align: start;
  }
}
/* End Desktop */
