.hero-layout {
  width: 100%;
  height: 769px;
  padding: 80px 20px;

  align-items: center;
  gap: 59px;
  background-size: cover;
}

.hero-image {
  width: 379px;
  height: 225px;
  border: 0;
  border-radius: 8px;
  padding: 6.5px 0;
}

.hero-title {
  width: 316px;
}

.hero-title > h4 {
  padding: 10px 10px;
}
