.testimonial-layout {
  width: 100%;
  height: 789px;
  padding: 110px 28px 100px;
  align-items: center;
  gap: 80px;
}

.testimonial-layout > button {
  width: 280px;
}

.testimonial-card {
  align-items: center;
  gap: 44.8px;
}

.testimonial-card > picture > img {
  width: 229px;
  height: 46px;
  cursor: none;
  z-index: -1;
}

.testimonial-card > p {
  padding: 8.45px;
}

.testimonial__card-items {
  display: flex;
  gap: 11px;
}

.items-span {
  text-align: left;
}

.items-span > span:nth-child(1) {
  padding: 1.69px 0px;
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .testimonial-layout {
    height: 758px;
    padding: 100px 0px;
  }

  .testimonial-card {
    align-items: center;
    gap: 50px;
    width: 703px;
  }
  .testimonial-card > picture > img {
    width: 152px;
    height: 50px;
  }

  .testimonial-card > img {
    height: 46px;
  }
  .testimonial-card > p {
    font-size: var(--fs-x-medium);
    line-height: var(--lh-x-medium);
  }
}
/* End Desktop */
