.feature__content-block {
  width: 271px;
  gap: 75px;
  padding: 18px 0;
}

.feature__content-block > li > p {
  padding: 10px 0;
  text-align: left;
}

.feature__content-block > li {
  transition: transform 0.2s ease;
  cursor: pointer;
}

.feature__content-block > li:hover {
  transform: scale(1.1);
}

.item-block {
  display: flex;
  align-items: center;
}

.item-block > img,
.item-block > picture > img {
  width: 43px;
  height: 43px;
}

.item-block > h3 {
  padding: 10px 10px;
  text-align: left;
}
