.display--flex {
  display: flex;
  flex-direction: column;
}

.gap--7 {
  gap: 7px;
}

@media (max-width: 767px) {
  .hiden-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .hiden-desktop {
    display: none;
  }
}
