.feature__title-block {
  width: 318px;
}

/* Desktop */
@media (min-width: 1025px) {
  .feature__content-block {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 187px;
    gap: 52px;
    padding: 0;
  }

  .feature__content-block > li {
    width: 255px;
  }
}
/* End Desktop */
