.footer__link-page {
  gap: 15px;
}

.footer__link-page > h3 {
  padding: 10px 0;
}

.footer__link-page > ul > li > a {
  color: var(--prmary-text-color);
}

.link-items {
  gap: 16px;
}

.footer-address-link {
  gap: 40px;
}

.footer-address {
  gap: 10px;
  width: 264px;
}

.footer-address > div {
  display: flex;
  gap: 10px;
}

.footer-address > div > a {
  color: var(--prmary-text-color);
  text-align: left;
}

.footer-map {
  border-radius: 22px;
  width: 100%;
  max-width: 358px;
  height: 247px;
  aspect-ratio: 1.4;
  overflow: hidden;
}

.footer-map > iframe {
  width: 358px;
  height: 247px;
}

.footer-address > div > a:hover,
.link-items > li > a:hover {
  text-decoration: underline;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__link-page {
    grid-area: link-page;
  }

  .footer-map {
    grid-area: map;
    width: 100%;
    justify-self: center;
  }
  .footer__social-network {
    grid-area: social;
  }

  .footer-map > iframe {
    height: 250px;
  }

  .link-items {
    align-items: start;
  }
}
/* End Tablet */

/* Desktop */
@media (min-width: 1025px) {
  .footer__link-page {
    width: 186px;
    align-items: start;
    gap: 16px;
  }

  .footer-map {
    max-width: 472px;
    height: 247px;
  }

  .footer-map > iframe {
    width: 472px;
    height: 247px;
  }

  .link-items {
    align-items: start;
  }
}
/* End Desktop */
