.header-logo {
  width: 206px;
  height: 78px;
  flex-shrink: 1;
}

.nav-items > a:hover {
  color: var(--primary-color);
}

/* Tablet & Desktop */
@media (min-width: 768px) {
  .header-logo {
    margin: 0px 20px;
  }
}
/* End Tablet & Desktop */

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .header__form {
    display: none;
  }
}
/* End Tablet */

@media (max-width: 1188px) {
  .header__form {
    display: none;
  }
}
